page-memo-list {
  .content {
    background: #f4f4f4;
  }
  .card-header {
    font-weight: 600;
  }
  .card-content {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
